# node / build
node_modules
dist
build
coverage
*.log
*.tsbuildinfo

# Next.js
.next
out

# Nest / server
server/dist*
server/dist
server/logs
server/coverage

# IDE / OS
.vscode
.DS_Store

# env
.env
.env.*

# backups/uploads
server/backups/
server/uploads/
*.dump
*.sql
*.mp4
!server/prisma/migrations/**/migration.sql
