dyson-group.ru, www.dyson-group.ru {
    encode zstd gzip

    # Next API routes (прокси фронта)
    @next_api path /api/proxy/*
    handle @next_api {
        reverse_proxy web:3000
    }

    # Остальной backend API
    @backend_api path /api/*
    handle @backend_api {
        reverse_proxy api:3001
    }

    # Всё остальное — фронт (Next)
    handle {
        reverse_proxy web:3000
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }

    log {
        output stderr
        format console
        level INFO
    }
}
