@font-face {
  font-family: 'DysonFutura';
  src: url('/fonts/DysonFutura.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--font-montserrat), 'DysonFutura', sans-serif;
}
